<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>Verstappen</string>
		<key>constructor</key>
		<string>RedBull</string>
		<key>price</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Gasly</string>
		<key>constructor</key>
		<string>RedBull</string>
		<key>price</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Bottas</string>
		<key>constructor</key>
		<string>Mercedes</string>
		<key>price</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Hamilton</string>
		<key>constructor</key>
		<string>Mercedes</string>
		<key>price</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Leclerc</string>
		<key>constructor</key>
		<string>Ferarri</string>
		<key>price</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Vettel</string>
		<key>constructor</key>
		<string>Ferarri</string>
		<key>price</key>
		<real>20</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Ricciardo</string>
		<key>constructor</key>
		<string>Renault</string>
		<key>price</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Hulkenberg</string>
		<key>constructor</key>
		<string>Renault</string>
		<key>price</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Norris</string>
		<key>constructor</key>
		<string>McLaren</string>
		<key>price</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Sainz</string>
		<key>constructor</key>
		<string>McLaren</string>
		<key>price</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Perez</string>
		<key>constructor</key>
		<string>RacingPoint</string>
		<key>price</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Stroll</string>
		<key>constructor</key>
		<string>RacingPoint</string>
		<key>price</key>
		<real>5.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Raikkonen</string>
		<key>constructor</key>
		<string>AlfaRomeo</string>
		<key>price</key>
		<real>8.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Giovinazzi</string>
		<key>constructor</key>
		<string>AlfaRomeo</string>
		<key>price</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Kvyat</string>
		<key>constructor</key>
		<string>ToroRosso</string>
		<key>price</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Albon</string>
		<key>constructor</key>
		<string>ToroRosso</string>
		<key>price</key>
		<real>3.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Kubica</string>
		<key>constructor</key>
		<string>Williams</string>
		<key>price</key>
		<real>4.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Russell</string>
		<key>constructor</key>
		<string>Williams</string>
		<key>price</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Grosjean</string>
		<key>constructor</key>
		<string>Haas</string>
		<key>price</key>
		<real>5.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Magnussen</string>
		<key>constructor</key>
		<string>Haas</string>
		<key>price</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
